<div class="card-container">
    <div class="card-content">
        <img src="./../../../assets/eu.jpg" alt="">
    </div>
    <div class="dados-tecnologias">
        <div class="dados-pessoais">
            <h1>Sérgio Abreu Sousa</h1>
            <h3>Desenvolvedor Front-end</h3>
            <p>Barra do Corda - MA</p>
            <p>Telefone: (99) 99190-7667</p>
            <p>E-mail: sergioabreusousa@gmail.com</p>
        </div>
        <div class="tecnologias">
                <div><img src="./../../../assets/html-logo.svg"><p>HTML</p></div>
                <div><img src="./../../../assets/css-logo.svg"><p>CSS</p></div>
                <div><img src="./../../../assets/js-logo.svg"><p>JavaScript</p></div>
                <div><img src="./../../../assets/angular-logo.svg"><p>Angular</p></div>
        </div>
    </div>
</div>