
<app-menu-bar></app-menu-bar>
<app-card foto="assets/imgs/eu.jpg"></app-card>
<div class="content">
    <div class="title">
        <h3>Sobre</h3>
    </div>
    <p>
        Minhas primeiras experiências de trabalho não foram na área de TI,
        mas desenvolvi com elas habilidades como comunicação, organização,
        perseverança diante de desafios e empatia. Sou graduado em
        Gestão de TI e Atualmente tenho focado e buscado conhecimento
        na área de desenvolvimento front-end.
    </p>
</div>
<div class="content">
    <div class="title">
        <h3>Educação</h3>
    </div>
    <h4>Universidade Leonardo da Vince - UNIASSELVI</h4>
    <p>
        2013 - 2016 | Tecnólogo Gestão de Tecnologia da Informação
    </p>
    <br>
    <h4>Digital Innovation One (DIO)</h4>
    <p>
        Maior plataforma de educação aberta em TI da América Latina, 
        com mais 1 milhão de usuários. A DIO possui parcerias com algumas 
        das empresas mais inovadoras do mundo, proporcionando experiências 
        de ensino imersivas e com foco em empregabilidade. Nesse contexto, 
        seguem meus principais certificados:
    </p>
    <ul class="certificados">
        <li><a href="https://www.dio.me/certificate/2D32847A" target="_blank">Bootcamp - Potência Tech Angular Developer Powered by iFood</a></li>
        <li><a href="https://www.dio.me/certificate/CC52C462" target="_blank">Formação JavaScript Developer</a></li>
        <li><a href="https://www.dio.me/certificate/20F066AF" target="_blank">Bootcamp - Decola Tech 3a edição</a></li>
        <li><a href="https://www.dio.me/certificate/4C917D8F" target="_blank">Bootcamp - Orange Tech +</a></li>
        <li><a href="https://www.dio.me/certificate/D9A4B792" target="_blank">Bootcamp - Orange Tech + | BackEnd</a></li>
        <li><a href="https://www.dio.me/certificate/3D155F39" target="_blank">Introdução a criação de websites com HTML5 e CSS3</a></li>
    </ul>
</div>
<div class="content">
    <h3>Projetos</h3>
    <app-card-project
        print="assets/imgs/instagram.png"
        projeto="Instagram login - Clone"
        descricao="Replica da página de login do Instagram, com a adição de um botão para mudar o tema para escuro. Utilizando
        HTML, CSS e JavaScript" 
        linkGitHub="https://github.com/S3R6104BR3U/instagram-dio"
        linkGitHubPages="https://s3r6104br3u.github.io/instagram-dio/"
        target="_blank"
        ></app-card-project>
    <app-card-project
        print="assets/imgs/buzzfeed.png"
        projeto="Buzzfeed-Clone"
        descricao="Clone do site Buzzfeed com Angular"
        linkGitHub="https://github.com/S3R6104BR3U/buzzfeed-clone"
        linkGitHubPages="https://s3r6104br3u.github.io/buzzfeed-clone-deploy/"
        ></app-card-project>
    <app-card-project
        print="assets/imgs/blog.png"
        projeto="Blog"
        descricao="Desenvolvimento de um Blog com Angular"
        linkGitHub="https://github.com/S3R6104BR3U/angular-blog"
        linkGitHubPages="https://s3r6104br3u.github.io/angular-blog-deploy/"
        ></app-card-project>
</div>
<footer><p>Desenvolvido com Angular <br> por Sérgio A. Sousa<br>2023</p></footer>
<router-outlet></router-outlet>
