<div class="card-project-container">
    <div class="card-project-content">
        <img src="{{ print }}" alt="print do projeto">
    </div>
    <div class="card-project-content">
        <div class="projeto-descricao">
            <h4>{{ projeto }}</h4>
            <p>{{ descricao }}</p>
        </div>
        <br>
        <div class="links-projeto-container">
            <div class="links"><a href="{{ linkGitHub }}" target="_blank">Projeto no GitHub</a></div>
            <div class="links"><a href="{{ linkGitHubPages }}" target="_blank">Projeto no GitHub - Pages</a></div>
        </div>
    </div>
</div>
